[features]
seeds = false
skip-lint = false

[programs.localnet]
rice_supply_chain = "6NcVSFj9gGYtSDWz1EPxY9BM2QZRrZ49fpadK6bACTgk"

[programs.devnet]
rice_supply_chain = "6NcVSFj9gGYtSDWz1EPxY9BM2QZRrZ49fpadK6bACTgk"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "metadata.so"

[test.validator]
url = "https://api.devnet.solana.com"
ledger = ".anchor/test-ledger"
bind_address = "0.0.0.0"
rpc_port = 8899
websocket_port = 8900
upgrade_authority = "~/.config/solana/id.json"

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"